<?xml version="1.0" encoding="UTF-8" ?><beans xmlns="http://www.springframework.org/schema/beans"       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"       xsi:schemaLocation="http://www.springframework.org/schema/beans       http://www.springframework.org/schema/beans/spring-beans.xsd">    <bean id="tv" class="polymorphism.SamsungTV">        <property name="speaker"  ref="apple"/>        <property name="price" value="2700000"/>    </bean>    <bean id="collectionBean" class="polymorphism.CollectionBean">        <property name="addressList">            <props>                <prop key="고길동">서울시 강남구 역삼동</prop>                <prop key="마이클">서울시 강서구 화곡동</prop>            </props>        </property>    </bean>    <bean id="sony" class="polymorphism.SonySpeaker"/>    <bean id="apple" class="polymorphism.AppleSpeaker"/></beans>